.main
  display: flex
  flex-direction: column
  padding: 8vmin
  min-height: 100vh
  gap: 6rem
  font-size: x-large
  background-color: #6339a5

.banner
  width: 1200px
  align-self: center

.content
  margin-left: 3rem
  font-size: larger
  li
    margin-bottom: 0.8rem

.subtitle
  min-width: max-content
  color: white
