.container
  display: flex
  justify-content: center
  align-items: center
  position: relative
  min-height: 360px

.background
  position: absolute
  top: -2rem
  bottom: -2rem
  width: 100vw
  left: -8vmin
  &--light
    background-color: white

.textContainer
  height: fit-content
  position: relative
  max-width: 980px
  z-index: 2
  &:first-letter
    text-transform: uppercase
    font-weight: bolder
    font-size: 128px
    margin-right: 8px
  &--light
    &:first-letter
      color: #6339a5
  &--dark
    color: white
    &:first-letter
      color: #EF86C1

.header, .body
  margin-bottom: 1rem
