.container
  display: flex
  justify-content: center
  align-items: center
  min-height: 360px

.textContainer
  height: fit-content
  max-width: 980px
  padding: 0 36px
  z-index: 2
  &:first-letter
    text-transform: uppercase
    font-weight: bolder
    font-size: 128px
    margin-right: 8px
  &--light
    &:first-letter
  &--dark
    &:first-letter
      color: #EF86C1

.header, .body
  margin-bottom: 1rem
